<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
   
</head>
<body>
   {{>navbar}}

<!---header-->

<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12  mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                   <figure>
                    <img src="images/about.jpg" alt="atu" class="img-fluid" title="atu weather">
                   </figure>
                 </div>
                  <div class="col-md-6 col-12 main_header_left">
                  
               <p>Welcome to weather app</p>
               <h1><span class="style-clr">Frontend developer</span> and Engineering Student, passionate about building responsive web experiences.</h1>
               <a href="/weather"><button>about me</button></a>
                  </div>
                       
                </div>
                 
                       
                </div>
                </div>
                  </div>
                    </div>

       <!---footer--> 
         {{>footer}}

</body>
</html>